:root {
  --primary-color: #00ca97;
  --secondary-color: #0098fe;
  --purple-color: #a60b9f;
  --red-color: #ff0c2e;
  --green-color: #44a23b;
  --orange-color: #44a23b;

  --size-xxs: 0.125em;
  --size-xs: 0.25em;
  --size-small: 0.5em;
  --size-md: 1em;
  --size-lg: 1.5em;
  --size-xl: 2em;
  --size-xxl: 4em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
pre {
  margin: 0;
}

/*  Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a list role, which suggests
 default styling will be removed.
 https://github.com/hankchizljaw/modern-css-reset/issues/30 */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Anchor elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  display: block;
  height: auto;
  max-width: 100%;
}

li img,
p img {
  display: inline-block;
  vertical-align: sub;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}
